/* CARD */

#root {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

main {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
}

.card {
  width: 180px;
  height: 180px;
  margin: 5px;

  &-img {
    width: 100%;
  }

  &-title {
    font-size: 0.9em;
  }

  &-subtitle {
    font-size: 0.8em;
    opacity: 0.8;
  }
}
